<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<h2><%= @article.subtitle %></h2>
<p><%= @article.subtitle_content %></p>
<h2><%= @article.second_subtitle %></h2>
<p><%= @article.second_subtitle_content %></p>
<%= link_to "Back to articles", articles_path %>
